h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

:root {
    --color-gradient: linear-gradient(161deg, rgb(41, 14, 59) 0%, rgb(111, 16, 16) 50%, rgb(109, 72, 20) 100%);
    --color-scheme-one: #fff0b2;
    --color-scheme-two: #c6e4fa;
    --shadow-color: #0000006f;
    box-sizing: border-box;
}

body {
    height: 90vh;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: var(--color-scheme-two) fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h1 {
    text-align: center;
    color: var(--color-scheme-one);
    background-color: #0b1136d7;
    box-shadow: 0px 0px 5px black;
    padding: 10px 50px;
    border-radius: 5px 20px;
    width: 80vw;
}

form {
    position: absolute;
    border: 2px solid black;
    top: 30vh;
    left: 30vw;
    background-color: var(--color-scheme-one);
    z-index: 10;
    box-shadow: 3px 3px 3px var(--shadow-color);
    padding: 20px;
    border-radius: 5px;
}

form > div {
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

form > div > label {
    text-align: end;
}

form > div > input, select {
    font-size: 15px;
    padding-left: 5px;
    height: 1.4rem;
    border: none;
    border-radius: 5px;
    box-shadow: inset 2px 2px 3px var(--shadow-color);
}

.nav-cont-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
}

h2 {
    text-align: center;
}

.sidebar, .todo-section {
    border: black solid 2px;
    box-shadow: 2px 2px 3px var(--shadow-color);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.sidebar {
    min-width: 170px;
}

.project-name-input {
    border: none;
    height: 1.5rem;
    width: 95%;
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px var(--shadow-color);
    padding-left: 10px;
    margin-bottom: 5px;
}

.todo-container {
    display: flex;
    flex-wrap: wrap;
}

.todo-element {
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--color-scheme-one);

    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.projects > div {
    display: flex;
    gap: 5px;
    box-shadow: 0px 0px 3px var(--shadow-color);
    padding: 5px;
    background-color: var(--color-scheme-one);
    border-radius: 5px;
}

button {
    border: none;
    box-shadow: 2px 2px 3px var(--shadow-color);
    background-color: #43cc03;
    border-radius: 5px;
    width: fit-content;
    font-size: 20px;
    padding: 5px 20px;
    font-weight: bold;
}

.create-project {
    font-size: 17px;
    width: 100%;
}

.delete-todo, .cancel-btn {
    font-size: 15px;
    background-color: #8e0000;
    color: white;   
}

.cancel-btn {
    margin-left: 15px;
}

.add-todo-btn, .confirm-todo-btn {
    font-size: 15px;
}

button:hover {
    background-color: #61e057
}

.edit-todo {
    background-color: var(--color-scheme-two);
    font-size: 15px;
}

.edit-todo:hover {
    color: var(--color-scheme-two);
    background-color: #072940;
}

.delete-todo:hover, .cancel-btn:hover{
    background-color: #ce3333;
}

button:active {
    box-shadow: inset 2px 2px 3px var(--shadow-color);
}

button:disabled {
    background-color: #c6c6c6;
}

.todo-button-container {
    display: flex;
    gap: 10px;
}

.high, .low, .medium {
    font-style: italic;
}

.high {
    color:red;
}

.low {
    color: blue;
}