body {
    height: 90vh;
    position: relative;
}

h1 {
    text-align: center;
}

form {
    position: absolute;
    border: 1px solid black;
    top: 30vh;
    left: 30vw;
    background-color: beige;
    z-index: 10;
    box-shadow: 3px 3px 3px #00000046;
    padding: 20px;
}

.nav-cont-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
}

h2 {
    text-align: center;
}

.sidebar, .todo-section {
    border: black solid 1px;
    border-radius: 5px;
}

.todo-element {
    border: 1px solid black;
    border-radius: 5px;
}