body {
    height: 90vh;
}

h1 {
    text-align: center;
}

.nav-cont-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
}

h2 {
    text-align: center;
}

.sidebar, .todo-section {
    border: black solid 1px;
    border-radius: 5px;
}

.todo-element {
    border: 1px solid black;
    border-radius: 5px;
}